*{ text-align: center; box-sizing: border-box; margin: 0; padding: 0; } 

div{border: #333 2px solid;}

.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;

    padding: 20px;
    height: auto;
    min-height: 100vh;
}

.content{

    width: 45vh;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 15px;
    border: 0.5px solid #333;
    padding: 3px;
    margin: 8px;
}

button{
    text-decoration: none;
    font-size: 15px;
    border: 0.5px solid #333;
    padding: 3px;
    margin: 8px;
}

p{
    margin: 10px;
    text-overflow: clip;
    
}

form{
    padding: 5px;
    margin: 7px 0;
}

input{
    margin: 5px;
}

.modal{
    display: none; 
    position: fixed;
    z-index: 1000;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    max-height: 80vh;
    overflow-y: auto;
}

.modal_form{
    margin: 45px 0;
}

.news{
    
    font-size: larger;
    padding: 10px 25px;
    color: #fff;
    background-color: #df4545;
    border-radius: 40px;
    border: none;
    margin-bottom: 20px;
}

.news:hover{
    background: #b40f33;
}

/*приветсвенное окно

.modal_hi{
    display: flex; 
    position: fixed;
    z-index: 1000;
    height: 30vh;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    border-radius: 20px;
}*/





/*profile*/
#profile {
    border: none;
}

.profile-content{
    display: none; 
    flex-direction: column;
    padding: 35px;
    min-width: 45vh;
}

.profile-content > p {
    padding: 0;
    margin: 2px;
}

.profile-content > h3 {
    margin: 15px 0 5px 0;
}

/*ориентация*/

#orientacion{
    margin: 15px 0 0 0;
    font-weight: 700;
}

#orientacion_title{
    margin: 0;
    padding: 0;
    color: #8b8b8b;
    
}



#o1{
    color: #000000;
}
#o2{
    color: #000000;
}
#o3{
    color: #000000;
}
#o4{
    color: #000000;
}
#o5{
    color: #000000;
}
#o6{
    color: #000000;
}
#o7{
    color: #000000;
}
#o8{
    color: #000000;
}
#o9{
    color: #000000;
}
#o10{
    color: #000000;
}

#S_1{
    display: flex;
}

#S_2{
    display: flex;
}
#S_3{
    display: none;
}

/*Действия должностей*/
#kitty{
    display: flex;
}

#apprentice{
    display: none;
}

#warrior{
    display: none;
}

#star{
    display: none;
}

/*кнопочки смены должности*/

#toBecomeAppre{
    display: none;
}
#toBecomeWarr{
    display: none;
}
#toBecomeStar{
    display: none;
}
#toBecomeKitty{
    display: none;
}




